<!DOCTYPE html>
<html>

<head>
    <title>Kalender</title>
</head>

<body>
    <div id="base" class="">

        <div id="u82" class="ax_default heading_1">
            <div id="u82_div" class=""></div>
            <div id="u82_text" class="text ">
                <p><span>Kalender</span></p>
            </div>
        </div>


        <div id="u83" class="ax_default button">
            <div id="u83_div" class=""></div>
            <div id="u83_text" class="text ">
                <p><button class="nav-item nav-link" routerLink="/home" routerLinkActive="active">zurück
                    </button></p>
            </div>
        </div>


        <div id="u84" class="ax_default button">
            <div id="u84_div" class=""></div>
            <div id="u84_text" class="text ">
                <p><button class="nav-item nav-link" routerLink="/create-appointment" routerLinkActive="active">Termin
                        erstellen
                    </button></p>
            </div>
        </div>


        <div id="u85" class="ax_default button">
            <div id="u85_div" class=""></div>
            <div id="u85_text" class="text ">
                <p><span>Settings</span></p>
            </div>
        </div>


        <div id="u86" class="ax_default button">
            <div id="u86_div" class=""></div>
            <div id="u86_text" class="text ">
                <p><button (click)="logout()">Logout</button></p>
            </div>
        </div>

    </div>


    <div class="calendar">
        <div class="calendar-header">
            <h2><button (click)="previousMonth()">
                    <</button>
                        <h3>{{ monthNames[currentMonth - 1] }} {{ currentYear }}</h3>
                        <button (click)="nextMonth()">></button>
            </h2>
        </div>
        <div class="week-labels">
            <div></div>
            <div>Mo</div>
            <div>Di</div>
            <div>Mi</div>
            <div>Do</div>
            <div>Fr</div>
            <div>Sa</div>
            <div>So</div>
        </div>
        <div class="calendar-days">
            <ng-container *ngFor="let chunk of chunkedDays; let i = index">
                <div class="calendar-row">
                    <div class="week-numbers">{{ getWeekNumbers(currentYear, currentMonth)[i] }}</div>
                    <button *ngFor="let day of chunk" class="calendar-day"
                        [routerLink]="day ? ['/daily-appointment', day] : null" (click)="day ? onDayClick(day) : null" [ngClass]="{ 'has-events': hasEventsOnDay(day)}"><!--/create-appointment--><!--,'public-border': isPublicBorder(day), 'private-border': isPrivateBorder(day) -->
                        {{ day ? (day | date: 'dd') : '' }}
                    </button>
                </div>
            </ng-container>
        </div>
    </div>
    <script src="resources/scripts/axure/ios.js"></script>
</body>

</html>