<!DOCTYPE html>
<html>

<head>
    <title>Kalender</title>
</head>

<body>
    <div id="base" class="">

        <div id="header">
            <p>Kalender</p>
        </div>


        <div id="back-buttonPos">
            <button class="button" routerLink="/home" routerLinkActive="active">zurück
            </button>
        </div>


        <div id="createAppointment-buttonPos">
            <button class="button" routerLink="/create-appointment" routerLinkActive="active">Termin
                erstellen
            </button>
        </div>


        <div id="logout-buttonPos">
            <button class="button" (click)="logout()">Logout</button>
        </div>

    </div>


    <div class="calendar">
        <div class="calendar-header">
            <h2><button class="button" id="left_arrow" (click)="previousMonth()">
                    < </button>
                        <h3 class="curr_date">{{ monthNames[currentMonth - 1] }} {{ currentYear }}</h3>
                        <button class="button" id="right_arrow" (click)="nextMonth()">></button>
            </h2>
        </div>
        <div class="week-labels">
            <div></div>
            <div>Mo</div>
            <div>Di</div>
            <div>Mi</div>
            <div>Do</div>
            <div>Fr</div>
            <div>Sa</div>
            <div>So</div>
        </div>
        <div class="calendar-days">
            <ng-container *ngFor="let chunk of chunkedDays; let i = index">
                <div class="calendar-row">
                    <div class="week-numbers">{{ getWeekNumbers(currentYear, currentMonth)[i] }}</div>
                    <button *ngFor="let day of chunk" class="calendar-day"
                        [routerLink]="day ? ['/daily-appointment', day] : null" (click)="day ? onDayClick(day) : null"
                        [ngClass]="{ 'has-events': hasEventsOnDay(day,1) || hasEventsOnDay(day,2), 'public-border':hasEventsOnDay(day,2), 'private-border':hasEventsOnDay(day,1)}">
                        {{ day ? (day | date: 'dd') : '' }}
                    </button>
                </div>
            </ng-container>
        </div>
    </div>
</body>

</html>