body {
  margin: 0px;
  background-image: none;
  position: relative;
  left: -30px;
  width: 1202px;
  margin-left: auto;
  margin-right: auto;
  text-align: left;
}

.form_sketch {
  border-color: transparent;
  background-color: transparent;
}

.calendar-days {
  padding-top: 50px;
  display: flex;
  flex-direction: column;
}

.calendar {
  padding-top: 240px;
}

.week-labels {
  display: flex;
  border-bottom: 1px solid #ccc;
  position: relative;
  top: 50px;
}

.week-labels>div:first-child {
  width: 28.8px;
  min-width: 28.8px;
  max-width: 28.8px;
  //flex: 28.8px 0 0;
  padding: 24px;
  border-right: none;
}


.week-labels>div {
  flex: 1;
  padding: 10px;
  border: 1px solid #ccc;
  text-align: center;
  box-sizing: border-box;
}

.week-numbers {
  padding: 20px;
  border-right: 1px solid #ccc;
  text-align: center;
}

.calendar-row {
  display: flex;
}

.calendar-day {
  flex: 1;
  padding: 20px;
  border: 1px solid #ccc;
  text-align: center;
}

.has-events {
  background-color: darkblue;
  color: white;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
}


.public-border {
  border-top: 4px solid orange;
  border-left: 4px solid orange;
}

.private-border {
  border-bottom: 4px solid lightgreen;
  border-right: 4px solid lightgreen;
}

.button {
  text-align: center;
  height: 36px;
  width: 136px;
}

#base {
  position: absolute;
}


#header {
  border-width: 0px;
  position: absolute;
  left: 559px;
  top: 3px;
  width: 137px;
  height: 37px;
  display: flex;
  font-family: "Arial Fett", "Arial Standard", "Arial", sans-serif;

  font-style: normal;
  font-size: 28px;
}

#back-buttonPos {
  border-width: 0px;
  position: absolute;
  left: 30px;
  top: 53px;
  width: 140px;
  height: 40px;
  display: flex;
}

#createAppointment-buttonPos {
  border-width: 0px;
  position: absolute;
  left: 556px;
  top: 782px;
  width: 140px;
  height: 40px;
  display: flex;
}

#left_arrow {
  position: absolute;
  left: 242px;
  top: 188px;
}

.curr_date {
  position: absolute;
  left: 544px;
  top: 150px;
}

#right_arrow {
  position: absolute;
  left: 872px;
  top: 188px;
}


#logout-buttonPos {
  border-width: 0px;
  position: absolute;
  left: 1092px;
  top: 43px;
  width: 140px;
  height: 40px;
  display: flex;
}