<!DOCTYPE html>
<html>
  <head>
    <title>Register</title>
</head>
<body>
  <div id="base" class="">

    <!-- Unnamed (Rectangle) -->
    <div id="u148" class="ax_default box_1">
      <div id="u148_div" class=""></div>
      <div id="u148_text" class="text " style="display:none; visibility: hidden">
        <p></p>
      </div>
    </div>

    <!-- Unnamed (Text Field) -->
    <div id="u149" class="ax_default text_field">
      <div id="u149_div" class=""></div>
      <input id="u149_input" type="text" value="" class="u149_input"/>
    </div>

    <!-- Unnamed (Rectangle) -->
    <div id="u150" class="ax_default paragraph">
      <div id="u150_div" class=""></div>
      <div id="u150_text" class="text ">
        <input type="text" id="firstNameInput"><br>
        <!--<p><span>Vorname</span></p>-->
      </div>
    </div>

    <!-- Unnamed (Rectangle) -->
    <div id="u151" class="ax_default paragraph">
      <div id="u151_div" class=""></div>
      <div id="u151_text" class="text ">
        <p><span>Registrieren</span></p>
      </div>
    </div>

    <!-- Unnamed (Rectangle) -->
    <div id="u152" class="ax_default button">
      <div id="u152_div" class=""></div>
      <div id="u152_text" class="text ">
        <p><span>Registrieren</span></p>
      </div>
    </div>

    <!-- Unnamed (Text Field) -->
    <div id="u153" class="ax_default text_field">
      <div id="u153_div" class=""></div>
      <input id="u153_input" type="text" value="" class="u153_input"/>
    </div>

    <!-- Unnamed (Rectangle) -->
    <div id="u154" class="ax_default paragraph">
      <div id="u154_div" class=""></div>
      <div id="u154_text" class="text ">
        <input type="email" id="emailInput"><br>
        <!--<p><span>Email</span></p>-->
      </div>
    </div>

    <!-- Unnamed (Text Field) -->
    <div id="u155" class="ax_default text_field">
      <div id="u155_div" class=""></div>
      <input id="u155_input" type="text" value="" class="u155_input"/>
    </div>

    <!-- Unnamed (Rectangle) -->
    <div id="u156" class="ax_default paragraph">
      <div id="u156_div" class=""></div>
      <div id="u156_text" class="text ">
        <input type="text" id="usernameInput"><br>
        <!--<p><span>Benutzername</span></p>-->
      </div>
    </div>

    <!-- Unnamed (Text Field) -->
    <div id="u157" class="ax_default text_field">
      <div id="u157_div" class=""></div>
      <input id="u157_input" type="text" value="" class="u157_input"/>
    </div>

    <!-- Unnamed (Rectangle) -->
    <div id="u158" class="ax_default paragraph">
      <div id="u158_div" class=""></div>
      <div id="u158_text" class="text ">
        <input type="text" id="lastNameInput"><br>
        <!--<p><span>Nachname</span></p>-->
      </div>
    </div>

    <!-- Unnamed (Text Field) -->
    <div id="u159" class="ax_default text_field">
      <div id="u159_div" class=""></div>
      <input id="u159_input" type="text" value="" class="u159_input"/>
    </div>

    <!-- Unnamed (Rectangle) -->
    <div id="u160" class="ax_default paragraph">
      <div id="u160_div" class=""></div>
      <div id="u160_text" class="text ">
        <input type="password" id="firstPasswordInput"><br>
        <!--<p><span>Passwort</span></p>-->
      </div>
    </div>

    <!-- Unnamed (Text Field) -->
    <div id="u161" class="ax_default text_field">
      <div id="u161_div" class=""></div>
      <input id="u161_input" type="text" value="" class="u161_input"/>
    </div>

    <!-- Unnamed (Rectangle) -->
    <div id="u162" class="ax_default paragraph">
      <div id="u162_div" class=""></div>
      <div id="u162_text" class="text ">
        <input type="password" id="secondPasswordInput"><br>
        <!--<p><span>Passwort wiederholen</span></p>-->
      </div>
    </div>

    <!-- Unnamed (Rectangle) -->
    <div id="u163" class="ax_default button">
      <div id="u163_div" class=""></div>
      <div id="u163_text" class="text ">
        <p><span>zurück</span></p>
      </div>
    </div>
  </div>
  <script src="resources/scripts/axure/ios.js"></script>
</body>
</html>
