<!DOCTYPE html>
<html>

<head>
    <title>Termin erstellen</title>
</head>

<body>
    <div id="base" class="">

        <div id="createAppoinment-boxPos">
            <div id="createAppoinment-box"></div>
        </div>

        <div id="dateInput-boxPos">
            <div id="dateInput-box"></div>
            <input id="dateInput" type="text" [(ngModel)]="dateValue" placeholder="Datum" />
        </div>

        <div id="startDropDown">
            <div id="startDropDown-pos"></div>
            <button id="startDropDown-input" (click)="toggleDropDown('dropDownStartTime', selectedHour)"
                class="dropDownMenu1">{{ startTimeValue ? startTimeValue : 'Terminbeginn festlegen' }}</button>
            <div id="dropDownStartTime" [ngClass]="{'dropDown-content1': true, 'show': isDropDownStartTime}">
                <a *ngFor="let hour of hours" (click)="toggleDropDown('dropDownStartTime', hour)" class="hour-option">{{
                    hour }}</a>
            </div>
        </div>

        <div id="endDropDown">
            <div id="endDropDown-pos"></div>
            <button id="endDropDown-input" (click)="toggleDropDown('dropDownEndTime', selectedHour)"
                class="dropDownMenu2">{{ endTimeValue ? endTimeValue : 'Terminende festlegen' }}</button>
            <div id="dropDownEndTime" [ngClass]="{'dropDown-content2': true, 'show': isDropDownEndTime}">
                <a *ngFor="let hour of hours" (click)="toggleDropDown('dropDownEndTime', hour)" class="hour-option">{{
                    hour }}</a>
            </div>
        </div>

        <div id="timespan">
            <p>Zeitraum</p>
        </div>

        <div id="owner">
            <p>Besitzer: {{ownerValue}}</p>
        </div>

        <div id="prio">
            <p>Priorität</p>
        </div>

        <div id="highPrio-pos">
            <button (click)="setPriority(3)" [class.border-active]="priorityValue === 3"
                style="background-color: red;">Hoch</button>
        </div>

        <div id="middlePrio-pos">
            <button (click)="setPriority(2)" [class.border-active]="priorityValue === 2"
                style="background-color: yellow;">Mittel</button>
        </div>

        <div id="lowPrio-pos">
            <button (click)="setPriority(1)" [class.border-active]="priorityValue === 1"
                style="background-color: green;">Gering</button>
        </div>

        <div id="appointment-nameBoxPos">
            <div id="appointment-nameBox"></div>
            <input id="appointment-Input" type="text" [(ngModel)]="matterValue" placeholder="Name" class="u100_input" />
        </div>

        <div id="date-pos">
            <p>Datum</p>
        </div>

        <div id="appointment-namePos">
            <div id="appointment-namePosText" class="text ">
                <p>Termin Name</p>
            </div>
        </div>


        <div id="comment-pos">
            <div>
                <p>Kommentar</p>
            </div>
        </div>

        <div id="comment-boxPos">
            <div id="comment-box"></div>
            <textarea id="comment-boxInput" [(ngModel)]="commentValue" placeholder="Kommentar"></textarea>
        </div>

        <div id="save-buttonPos">
            <button (click)="sendPostRequest()" class="button" routerLink="/calender" routerLinkActive="active">Termin
                speichern
            </button>
        </div>

        <div id="cancel-buttonPos">
            <button class="button" routerLink="/calender" routerLinkActive="active">abbrechen
            </button>
        </div>

        <div id="checkbox-pos">
            <div id="checkbox-text" class="text ">
                <p>öffentlicher Termin
                    <input type="checkbox" [(ngModel)]="isTeamEvent" (change)="onCheckboxChange()">
                </p>
            </div>

        </div>
    </div>
</body>

</html>