<!DOCTYPE html>
<html>

<head>
    <title>Termin erstellen</title>
</head>

<body>
    <div id="base" class="">



        <!-- Unnamed (Rectangle) -->
        <div id="u88" class="ax_default box_1">
            <div id="u88_div" class=""></div>
            <div id="u88_text" class="text " style="display:none; visibility: hidden">
                <p></p>
            </div>
        </div>

        <!-- Unnamed (Text Field) -->
        <div id="u89" class="ax_default text_field">
            <div id="u89_div" class=""></div>
            <input id="u89_input" type="text" value="TT.MM.JJJJ" class="u89_input" />
        </div>

        <!-- Unnamed (Text Field) -->
        <div id="u90" class="ax_default text_field">
            <div id="u90_div" class=""></div>
            <input id="u90_input" type="text" value="Von Zeitraum" class="u90_input" />
        </div>

        <!-- Unnamed (Text Field) -->
        <div id="u91" class="ax_default text_field">
            <div id="u91_div" class=""></div>
            <input id="u91_input" type="text" value="Bis Zeitraum" class="u91_input" />
        </div>

        <!-- Unnamed (Rectangle) -->
        <div id="u92" class="ax_default label">
            <div id="u92_div" class=""></div>
            <div id="u92_text" class="text ">
                <p><span>Zeitraum</span></p>
            </div>
        </div>

        <!-- Unnamed (Rectangle) -->
        <div id="u93" class="ax_default label">
            <div id="u93_div" class=""></div>
            <div id="u93_text" class="text ">
                <p><span>Priorität</span></p>
            </div>
        </div>

        <!-- Unnamed (Ellipse) -->
        <div id="u94" class="ax_default marker">
            <img id="u94_img" class="img " src="images/termin_erstellen/u94.svg" />
            <div id="u94_text" class="text " style="display:none; visibility: hidden">
                <p></p>
            </div>
        </div>

        <!-- Unnamed (Ellipse) -->
        <div id="u95" class="ax_default marker">
            <img id="u95_img" class="img " src="images/termin_erstellen/u95.svg" />
            <div id="u95_text" class="text " style="display:none; visibility: hidden">
                <p></p>
            </div>
        </div>

        <!-- Unnamed (Ellipse) -->
        <div id="u96" class="ax_default marker">
            <img id="u96_img" class="img " src="images/termin_erstellen/u96.svg" />
            <div id="u96_text" class="text " style="display:none; visibility: hidden">
                <p></p>
            </div>
        </div>

        <!-- Unnamed (Rectangle) -->
        <div id="u97" class="ax_default label">
            <div id="u97_div" class=""></div>
            <div id="u97_text" class="text ">
                <p><span>Hoch</span></p>
            </div>
        </div>

        <!-- Unnamed (Rectangle) -->
        <div id="u98" class="ax_default label">
            <div id="u98_div" class=""></div>
            <div id="u98_text" class="text ">
                <p><span>Niedrig</span></p>
            </div>
        </div>

        <!-- Unnamed (Rectangle) -->
        <div id="u99" class="ax_default label">
            <div id="u99_div" class=""></div>
            <div id="u99_text" class="text ">
                <p><span>Mittel</span></p>
            </div>
        </div>

        <!-- Unnamed (Text Field) -->
        <div id="u100" class="ax_default text_field">
            <div id="u100_div" class=""></div>
            <input id="u100_input" type="text" value="TerminName" class="u100_input" />
        </div>

        <!-- Unnamed (Rectangle) -->
        <div id="u101" class="ax_default label">
            <div id="u101_div" class=""></div>
            <div id="u101_text" class="text ">
                <p><span>Datum</span></p>
            </div>
        </div>

        <!-- Unnamed (Rectangle) -->
        <div id="u102" class="ax_default label">
            <div id="u102_div" class=""></div>
            <div id="u102_text" class="text ">
                <p><span>Termin Name</span></p>
            </div>
        </div>

        <!-- Unnamed (Rectangle) -->
        <div id="u103" class="ax_default label">
            <div id="u103_div" class=""></div>
            <div id="u103_text" class="text ">
                <p><span>Kommentar</span></p>
            </div>
        </div>

        <!-- Unnamed (Text Area) -->
        <div id="u104" class="ax_default text_area">
            <div id="u104_div" class=""></div>
            <textarea id="u104_input" class="u104_input">Das ist ein Kommentar.</textarea>
        </div>

        <!-- Unnamed (Rectangle) -->
        <div id="u105" class="ax_default label ax_default_hidden" style="display:none; visibility: hidden">
            <div id="u105_div" class=""></div>
            <div id="u105_text" class="text ">
                <p><span>erforderliche Personen</span></p>
            </div>
        </div>

        <!-- Unnamed (Droplist) -->
        <div id="u106" class="ax_default droplist ax_default_hidden" style="display:none; visibility: hidden">
            <div id="u106_div" class=""></div>
            <select id="u106_input" class="u106_input">
                <option class="u106_input_option" value="Hans">Hans</option>
                <option class="u106_input_option" value="Peter">Peter</option>
            </select>
        </div>

        <!-- Unnamed (Rectangle) -->
        <div id="u107" class="ax_default button">
            <div id="u107_div" class=""></div>
            <div id="u107_text" class="text ">
                <p><button class="nav-item nav-link" routerLink="/calender" routerLinkActive="active">Termin
                        speichern
                    </button></p>
                <!--TODO überlegen, ob man damit nun wieder beim kalender landet oder ob man damit bei daily-appointment raus kommt, wo der Termin direkt mit eingetragen ist wahrscheinlicher zweiteres sinnvoller und besser-->
            </div>
        </div>

        <!-- Unnamed (Rectangle) -->
        <div id="u108" class="ax_default button">
            <div id="u108_div" class=""></div>
            <div id="u108_text" class="text ">
                <p><button class="nav-item nav-link" routerLink="/calender" routerLinkActive="active">abbrechen
                    </button></p>
            </div>
        </div>

        <p>Das ausgewählte Datum: {{ dateValue }}</p>
        <!-- Unnamed (Checkbox) -->
        <div id="u109" class="ax_default checkbox">
            <label id="u109_input_label" for="u109_input" style="position: absolute; left: 0px;">
                <img id="u109_img" class="img " src="images/termin_erstellen/u109.svg" />
                <div id="u109_text" class="text ">
                    <p><span>Team Termin</span></p>
                </div>
            </label>
            <input id="u109_input" type="checkbox" value="checkbox" />
        </div>

        <input type="text" [(ngModel)]="dateValue" placeholder="Date">
        <input type="checkbox" [(ngModel)]="isTeamEvent" (change)="onCheckboxChange()">
        <input type="text" [(ngModel)]="startTimeValue" placeholder="startTime">
        <input type="text" [(ngModel)]="endTimeValue" placeholder="endTime">
        <!--<input type="text" [(ngModel)]="priorityValue" placeholder="priority">-->
        <div>
            <button (click)="setPriority(1)" style="background-color: green;">Low</button>
            <button (click)="setPriority(2)" style="background-color: yellow;">Medium</button>
            <button (click)="setPriority(3)" style="background-color: red;">High</button>
          </div>
        <input type="text" [(ngModel)]="matterValue" placeholder="Matter">
        <input type="text" [(ngModel)]="commentValue" placeholder="Comment">
        <input type="text" [(ngModel)]="ownerValue" placeholder="Owner">

        <button (click)="sendPostRequest()">Send POST Request</button>
    </div>
    <script src="resources/scripts/axure/ios.js"></script>
</body>

</html>