
<!DOCTYPE html>
<html>

<head>
    <title>Login</title>
    <!--<script src="login.component.ts" defer></script>-->
</head>

<body>
    <div id="base" class="">

        <!-- Unnamed (Rectangle) -->
        <div id="u0" class="ax_default box_1">
            <div id="u0_div" class=""></div>
            <div id="u0_text" class="text " style="display:none; visibility: hidden">
                <p></p>
            </div>
        </div>

        <!-- Unnamed (Rectangle) -->
        <div id="u1" class="ax_default box_1">
            <div id="u1_div" class=""></div>
            <div id="u1_text" class="text " style="display:none; visibility: hidden">
                <p></p>
            </div>
        </div>

        <!-- Unnamed (Text Field) -->
        <div id="u2" class="ax_default text_field">
            <div id="u2_div" class=""></div>
            <input id="u2_input" type="text" value="" class="u2_input" />
        </div>

        <!-- Unnamed (Text Field) -->
        <div id="u3" class="ax_default text_field">
            <div id="u3_div" class=""></div>
            <input id="u3_input" type="text" value="" class="u3_input" />
        </div>

        <!-- Unnamed (Rectangle) -->
        <div id="u4" class="ax_default paragraph">
            <div id="u4_div" class=""></div>
            <div id="u4_text" class="text ">
                <input type="text" id="usernameInput"><br>            
                <!--<p><span>Benutzername</span></p>-->
            </div>
        </div>

        <!-- Unnamed (Rectangle) -->
        <div id="u5" class="ax_default paragraph">
            <div id="u5_div" class=""></div>
            <div id="u5_text" class="text ">
                <p><span>Teamkalender</span></p>
            </div>
        </div>

        <!-- Unnamed (Rectangle) -->
        <div id="u6" class="ax_default paragraph">
            <div id="u6_div" class=""></div>
            <div id="u6_text" class="text ">
                <input type="password" id="passwordInput"><br>            
                <!--<p><span>Passwort</span></p>-->
            </div>
        </div>

        <!-- Unnamed (Rectangle) -->
        <div id="u7" class="ax_default button">
            <div id="u7_div" class=""></div>
            <div id="u7_text" class="text ">
                <p><span>login</span></p>
            </div>
        </div>

        <!-- Unnamed (Rectangle) -->
        <div id="u8" class="ax_default button">
            <div id="u8_div" class=""></div>
            <div id="u8_text" class="text ">
                <p><span>Paswort vergessen?</span></p>
            </div>
        </div>

        <!-- Unnamed (Rectangle) -->
        <div id="u9" class="ax_default button">
            <div id="u9_div" class=""></div>
            <div id="u9_text" class="text ">
                <p><span>Jetzt Registrieren</span></p>
            </div>
        </div>

        <!-- Unnamed (Rectangle) -->
        <div id="u10" class="ax_default paragraph">
            <div id="u10_div" class=""></div>
            <div id="u10_text" class="text ">
                <p><span>Sie bestitzen noch keinen Account?</span></p>
            </div>
        </div>

        <!-- Unnamed (Rectangle) -->
        <div id="u11" class="ax_default paragraph">
            <div id="u11_div" class=""></div>
            <div id="u11_text" class="text ">
                <p><span>Haben Sie ihr Passwort vergessen?</span></p>
            </div>
        </div>

        <!-- Unnamed (Rectangle) -->
        <div id="u12" class="ax_default paragraph">
            <div id="u12_div" class=""></div>
            <div id="u12_text" class="text ">
                <p><span>Anmelden</span></p>
            </div>
        </div>
    </div>
    <script src="resources/scripts/axure/ios.js"></script>
</body>

</html>