<!--<app-header></app-header>
<app-calender></app-calender>
<app-footer></app-footer>-->
<!--<meta http-equiv="Content-Security-Policy" content="upgrade-insecure-requests">-->


<nav class="navbar navbar-expand navbar-dark bg-dark px-3">
  <div class="navbar-nav">
    <!--<a class="nav-item nav-link" routerLink="/account/login">Login </a>-->
    <a class="nav-item nav-link" routerLink="/" routerLinkActive="active"
      >Home
    </a>

    <!--<a class="nav-item nav-link" routerLink="/account/register">Register</a>-->
    <a
      class="nav-item nav-link"
      routerLink="/daily-appointment"
      routerLinkActive="active"
      >daily-appointment
    </a>
    <a
      class="nav-item nav-link"
      routerLink="/create-appointment"
      routerLinkActive="active"
      >create-appointment
    </a>
    <a
      class="nav-item nav-link"
      routerLink="/calender"
      routerLinkActive="active"
      >calender
    </a>
  </div>
</nav>

<!-- main app container -->
<div class="container">
  <router-outlet></router-outlet>
</div>
