/*body {
    margin:0px;
    background-image:none;
    position:relative;
    left:-327px;
    width:734px;
    margin-left:auto;
    margin-right:auto;
    text-align:left;
  }*/
  /*.form_sketch {
    border-color:transparent;
    background-color:transparent;
  }*/
  
  /*.hourly-view {
    display: flex;
    flex-direction: column;
  }*/
  
  .hour-row {
    display: flex;
    //align-items: center;
    background-color: purple;
    border: 1px solid black;
  }

  .hourly-view {
    display: flex;
    border: 10px solid white;
    //margin-left: 150px;
    //justify-content: center; /* Zentriert den Container horizontal */
    //align-items: center;
  }
  
  .hour-column {
    //flex: 1;
    background-color: green;
    border: 10px solid pink;
  }
  
  .hourly-view .hour-column:first-child {
    margin-right: 50px; //distance between
    
  }

  /*.hourly-view {
    position: absolute;
    top: 168px;
    left: 327px;
  }
  
  .hour-row:nth-child(n+13) {
    margin-left: 769px;
    //top: -168px;
    //position: relative;
    //top: 168px;
    //left: 327px;
  }*/
  
  .hour {
    width: 60px;
    text-align: right;
    //margin-right: 10px;
    background-color: red;
  }
  
  /*.marked-hour {
    background-color: #ffe6cc; 
  }*/
  
  .appointment {
    //margin-left: 10px;
    //margin:auto;
    
    //padding: 5px;
    background-color: #cce5ff;
    //border-radius: 30px;
  }

  .priority-green {
    background-color: green;
  }
  
  .priority-yellow {
    background-color: yellow;
  }
  
  .priority-red {
    background-color: red;
  }

  .wrapper {
    margin-left: 5px;
    height: 50px;
    //text-align: center;
    //margin-top: 20px; 
    //margin-bottom: 20px; 
}

/*.btn {
    padding: 10px 20px;
    font-size: 16px;
}*/

.public-border {
  border: 2px solid orange;
}

.private-border {
  border: 2px solid lightgreen;
}



.content{
  background-color: #fff;
  width: 300px;
  height: 300px;
  padding: 20px;
  position: relative;
  z-index: 1;
}


.overlay {
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
  }

.close {
    position: absolute;
    top: 5px;
    right: 5px;
    //font-size: 20px;
    cursor: pointer;
}

  #base {
    background-color: aqua;
    position:absolute;
    z-index:1;
  }

  #appointmentButton {
    height: 50px;
  }
