<div class="hourly-view"><!--auszualgernder Teil Anfang-->
    <!--<app-daily-appointment></app-daily-appointment>-->
    <div class="hour-row" *ngFor="let hour of hours">
      <div class="hour">
        <p><span>{{ hour }}</span></p>
      </div>
      <div class="appointment" *ngFor="let appointment of appointments">
        <span *ngIf="isHourMarked(appointment, hour) && (appointment.teamEvent === 2 ||(appointment.teamEvent === 1 && isCurrentUser(appointment)))">
     
          <div class="wrapper">
            <button (click)="openpopup(appointment)" [ngClass]="getPriorityClass(appointment.priority)">{{ appointment.matter }}</button>
          </div>
          <div class="overlay" *ngIf="appointment.show">
            <div class="content">
              <div class="close" (click)="closepopup(appointment)">
                &times;
              </div>
              <p>Datum:{{ appointment.date}}</p>
              <p>Termin Thema:{{ appointment.matter}}</p>
              <p>Kommentar:{{ appointment.comment}}</p>
              <p>Beginn:{{ appointment.startTime}}</p>
              <p>Ende: {{ appointment.endTime}}</p>
              <p>Ersteller: {{appointment.owner}}</p>
              <p>appointment.teamEvent: {{appointment.teamEvent}}</p>
            </div>
          </div>
        </span>
      </div>
    </div>
  </div><!--auszualgernder Teil Ende-->
