<!DOCTYPE html>
<html>

<head>
    <title>Home</title>
</head>

<body>
    <div id="base" class="">

        <!-- Unnamed (Rectangle) -->
        <div id="u13" class="ax_default box_1">
            <div id="u13_div" class=""></div>
            <div id="u13_text" class="text " style="display:none; visibility: hidden">
                <p></p>
            </div>
        </div>

        <!-- Unnamed (Rectangle) -->
        <div id="u14" class="ax_default box_1">
            <div id="u14_div" class=""></div>
            <div id="u14_text" class="text " style="display:none; visibility: hidden">
                <p></p>
            </div>
        </div>

        <!-- Unnamed (Rectangle) -->
        <div id="u15" class="ax_default paragraph">
            <div id="u15_div" class=""></div>
            <div id="u15_text" class="text ">
                <p style="text-align:center;"><span>Home</span></p>
                <p style="text-align:left;"><span><br></span></p>
            </div>
        </div>

        <!-- Unnamed (Rectangle) -->
        <div id="u16" class="ax_default button">
            <div id="u16_div" class=""></div>
            <div id="u16_text" class="text ">
                <p><span>Logout</span></p>
            </div>
        </div>

        <!-- Unnamed (Rectangle) -->
        <div id="u17" class="ax_default button">
            <div id="u17_div" class=""></div>
            <div id="u17_text" class="text ">
                <p><span>Termin manuell erstellen</span></p>
            </div>
        </div>

        <!-- Unnamed (Rectangle) -->
        <div id="u18" class="ax_default button">
            <div id="u18_div" class=""></div>
            <div id="u18_text" class="text ">
                <p><span>Kalender ansehen</span></p>
            </div>
        </div>

        <!-- Unnamed (Rectangle) -->
        <div id="u19" class="ax_default button">
            <div id="u19_div" class=""></div>
            <div id="u19_text" class="text ">
                <p><span>Settings</span></p>
            </div>
        </div>

        <!-- Unnamed (Rectangle) -->
        <div id="u20" class="ax_default paragraph">
            <div id="u20_div" class=""></div>
            <div id="u20_text" class="text ">
                <p><span>-Screenshot + Kurzbeschreibung</span></p>
                <p><span><br></span></p>
                <p><span>TEXT</span></p>
            </div>
        </div>

        <!-- Unnamed (Rectangle) -->
        <div id="u21" class="ax_default paragraph">
            <div id="u21_div" class=""></div>
            <div id="u21_text" class="text ">
                <p><span>-Screenshot + Kurzbeschreibung</span></p>
                <p><span><br></span></p>
                <p><span>TEXT</span></p>
            </div>
        </div>

        <!-- Unnamed (Rectangle) -->
        <div id="u22" class="ax_default box_1">
            <div id="u22_div" class=""></div>
            <div id="u22_text" class="text " style="display:none; visibility: hidden">
                <p></p>
            </div>
        </div>

        <!-- Unnamed (Rectangle) -->
        <div id="u23" class="ax_default paragraph">
            <div id="u23_div" class=""></div>
            <div id="u23_text" class="text ">
                <p><span>-Screenshot + Kurzbeschreibung</span></p>
                <p><span><br></span></p>
                <p><span>TEXT</span></p>
            </div>
        </div>

        <!-- Unnamed (Text Field) -->
        <div id="u24" class="ax_default text_field">
            <div id="u24_div" class=""></div>
            <input id="u24_input" type="text" value="Heute anstehende Termine" class="u24_input" />
        </div>
    </div>
    <script src="resources/scripts/axure/ios.js"></script>
</body>

</html>