body {
  margin: 0px;
  background-image: none;
  position: relative;
  left: -30px;
  width: 1141px;
  margin-left: auto;
  margin-right: auto;
  text-align: left;
}

.img1{
  margin-top: 30px;
  margin-left: -150px;
  height: 300px;
  width: 420px;
}

.img2{
  margin-top: 30px;
  margin-right: -130px;
  height: 300px;
  width: 420px;
}

.button {
  text-align: center;
  height: 36px;
  width: 136px;
}

#base {
  position: absolute;
  z-index: 0;
}

#todaysAppointments {
  background-color: green;
  left: 0px;
  top: 0px;
}

#viewCalender-box {
  border-width: 0px;
  position: absolute;
  margin-left: 0px;
  margin-top: -20px;
  //left: 0px;
  top: 0px;
  width: 539px;
  height: 582px;
  background: inherit;
  background-color: rgba(255, 255, 255, 1);
  box-sizing: border-box;
  border-width: 1px;
  border-style: solid;
  border-color: rgba(121, 121, 121, 1);
  border-radius: 0px;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}

#viewCalender-boxPos {
  border-width: 0px;
  position: absolute;
  left: 608px;
  top: 124px;
  width: 339px;
  height: 232px;
  display: flex;
}

#createAppointment-box {
  border-width: 0px;
  position: absolute;
  margin-left: -200px;
  margin-top: -20px;
  //left: 0px;
  top: 0px;
  width: 539px;
  height: 582px;
  background: inherit;
  background-color: rgba(255, 255, 255, 1);
  box-sizing: border-box;
  border-width: 1px;
  border-style: solid;
  border-color: rgba(121, 121, 121, 1);
  border-radius: 0px;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}

#createAppointment-boxPos {
  border-width: 0px;
  position: absolute;
  left: 185px;
  top: 124px;
  width: 339px;
  height: 232px;
  display: flex;
}

#header {
  border-width: 0px;
  position: absolute;
  left: 474px;
  top: 3px;
  width: 694px;
  height: 30px;
  display: flex;
  font-size: 28px;
  font-family: "Arial Fett", "Arial Standard", "Arial", sans-serif;
  text-align: center;
}

#createAppointment-buttonPos {
  border-width: 0px;
  position: absolute;
  left: 179px;
  top: 607px;
  width: 140px;
  height: 40px;
  display: flex;
}

#viewCalender-buttonPos {
  border-width: 0px;
  position: absolute;
  left: 815px;
  top: 607px;
  width: 140px;
  height: 40px;
  display: flex;
}

#logout-buttonPos {
  border-width: 0px;
  position: absolute;
  left: 1031px;
  top: 53px;
  width: 140px;
  height: 40px;
  display: flex;
}

#createAppointment-descriptionPos {
  border-width: 0px;
  position: absolute;
  left: 199px;
  top: 89px;
  width: 300px;
  height: 150px;
  display: flex;
}

#viewCalender-descriptionPos {
  border-width: 0px;
  position: absolute;
  left: 635px;
  top: 89px;
  width: 300px;
  height: 150px;
  display: flex;
}
#createAppointment-description{
  margin-left: -200px;
}

#viewCalender-description{
  margin-right: -200px;
}

#todaysAppointment-box {
  border-width: 0px;
  position: absolute;
  left: 0px;
  top: 400px;
  width: 1139px;
  height: 732px;
  background: inherit;
  background-color: rgba(255, 255, 255, 1);
  box-sizing: border-box;
  border-width: 1px;
  border-style: solid;
  border-color: rgba(121, 121, 121, 1);
  border-radius: 0px;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}

#todaysAppointment-boxPos {
  border-width: 0px;
  position: absolute;
  left: 0px;
  top: 383px;
  width: 1339px;
  height: 232px;
  display: flex;
}

#app-hourly-viewPos {
  border-width: 0px;
  position: absolute;
  left: -169px;
  top: 679px;
  width: 300px;
  height: 150px;
  display: flex;
}

#todaysAppointment-headerTextPos {
  position: absolute;
  left: 5px;
  top: 390px;
  width: 300px;
  height: 25px;
  padding: 2px 2px 2px 2px;
  font-family: "Arial Standard", "Arial", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 13px;
  letter-spacing: normal;
  color: #000000;
  vertical-align: none;
  text-align: center;
  text-transform: none;
  background-color: transparent;
  border-color: transparent;
}

#todaysAppointment-headerBox {
  border-width: 0px;
  position: absolute;
  left: 0px;
  top: 400px;
  width: 300px;
  height: 25px;
  background: inherit;
  background-color: rgba(255, 255, 255, 1);
  box-sizing: border-box;
  border-width: 1px;
  border-style: solid;
  border-color: rgba(121, 121, 121, 1);
  border-radius: 0px;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}

#todaysAppointment-headerPos {
  border-width: 0px;
  position: absolute;
  left: 421px;
  top: 398px;
  width: 300px;
  height: 25px;
  display: flex;
}