<!DOCTYPE html>
<html>

<head>
  <title>Home</title>
</head>

<body>

  <div id="base">

    <div id="viewCalender-boxPos">
      <div id="viewCalender-box"></div>
    </div>

    <div id="createAppointment-boxPos">
      <div id="createAppointment-box"></div>
    </div>

    <div id="header">
      <p>Home <br>
        Hallo {{ username() }}
      </p>
    </div>

    <div id="createAppointment-buttonPos" class="text">
      <div class="text">
        <button routerLink="/create-appointment" routerLinkActive="active">Termin manuell erstellen
        </button>
      </div>
    </div>

    <div id="viewCalender-buttonPos">
      <div class="text">
        <button class="button" routerLink="/calender" routerLinkActive="active">Kalender ansehen
        </button>
      </div>
    </div>

    <div id="logout-buttonPos">
      <div class="text">
        <button class="button" (click)="logout()">Logout</button>
      </div>
    </div>

    <div id="createAppointment-descriptionPos">
      <div class="text">
        <img src="assets/img/manuellerTermin.png" class="img1">
        <div id="createAppointment-description">
        <p>-Screenshot</p>
        <p>Hier können Sie direkt einen Termin erstellen, ohne das Datum im Kalender suchen zu müssen.</p>
        <p>Private Termine sind nur für Sie selbst sichtbar</p>
        <p>Öffentliche Termine sind für alle Benutzer sichtbar</p>
        </div>
      </div>
    </div>

    <div id="viewCalender-descriptionPos">
      <div class="text">
        <img src="assets/img/KalenderAnsehen.png" class="img2">
        <div id="viewCalender-description">
        <p>-Screenshot</p>
        <p>Hier können Sie alle im Kalender eingetragenen Termine einsehen. Private Termine sind grün markiert, diese
          sind nur von Ihnen selbst als privater Termine eingetragen worden und sommit auch nur für Sie selbst sichtbar.
          Öffentliche Termine sind orange markiert, das sind alle Termine die als öffentliche Termine erstellt wurden,
          auch von anderen Personen.</p>
        </div>
      </div>
    </div>

    <div id="todaysAppointment-boxPos">
      <div id="todaysAppointment-box"></div>
    </div>

    <div id="app-hourly-viewPos">
      <app-hourly-view [hours]="hours" [appointments]="appointments"></app-hourly-view>
    </div>

    <div id="todaysAppointment-headerPos">
      <div id="todaysAppointment-headerBox"></div>
      <p id="todaysAppointment-headerTextPos">heutige Termine: {{formattedDate}}</p>
    </div>
    
  </div>

</body>
</html>