<!DOCTYPE html>
<html>

<head>
    <title>Tägliche Termine</title>
</head>

<body>
    <app-hourly-view [hours]="hours" [appointments]="appointments"></app-hourly-view>

    <div id="base" class="">

        <div id="header" class="ax_default heading_1">
            <span>Tägliche Termine</span>
        </div>

        <div id="u84" class="ax_default button">
            <!--<div id="create_div" class=""></div>-->
            <div id="u84_div" class=""></div>
            <div id="u84_text" class="text ">
                <button class="button" routerLink="/create-appointment" [queryParams]="{ date: dateValue }"
                    routerLinkActive="active">Termin erstellen
                </button>
            </div>
        </div>



        <div id="back" class="ax_default button">
            <div id="back_div" class=""></div>
            <div id="back_text" class="text ">
                <button class="button" routerLink="/calender" routerLinkActive="active">zurück
                </button>
            </div>
        </div>

        <div id="date" class="ax_default text_field">
            <div id="date_div"></div>
            <input id="date_input" input type="text" [(ngModel)]="dateValue" placeholder="Date" class="date_input" />
        </div>
    </div>
    <script src="resources/scripts/axure/ios.js"></script>

</body>

</html>