<!DOCTYPE html>
<html>

<head>
    <title>Tägliche Termine</title>
</head>

<body>
    <app-hourly-view [hours]="hours" [appointments]="appointments"></app-hourly-view>

    <div id="base" class="">

        <div id="header">
            <span>Tägliche Termine</span>
        </div>

        <div id="createAppointment-buttonPos">
            <button class="button" routerLink="/create-appointment" [queryParams]="{ date: dateValue }"
                routerLinkActive="active">Termin erstellen
            </button>
        </div>

        <div id="back">
            <button class="button" routerLink="/calender" routerLinkActive="active">zurück
            </button>
        </div>

        <div id="date">
            <div id="date_box"></div>
            <p id="date_text">{{dateValue}}</p>
        </div>
    </div>


</body>

</html>