body {
  margin: 0px;
  background-image: none;
  position: relative;
  left: -327px;
  width: 734px;
  margin-left: auto;
  margin-right: auto;
  text-align: left;
}

.form_sketch {
  border-color: transparent;
  background-color: transparent;
}

.priority-green {
  background-color: green;
}

.priority-yellow {
  background-color: yellow;
}

.priority-red {
  background-color: red;
}

.btn {
  padding: 10px 20px;
  font-size: 16px;
}

.close {
  position: absolute;
  top: 5px;
  right: 5px;
  cursor: pointer;
}

.button{
  text-align: center;
  height: 36px;
  width: 136px;
}
#u84_div {
  border-width: 0px;
  position: absolute;
  left: 0px;
  top: 0px;
  width: 140px;
  height: 40px;
  background: inherit;
  background-color: rgba(255, 255, 255, 1);
  box-sizing: border-box;
  border-width: 1px;
  border-style: solid;
  border-color: rgba(121, 121, 121, 1);
  border-radius: 5px;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}

#u84 {
  border-width: 0px;
  position: absolute;
  left: 769px;
  top: 840px;
  width: 140px;
  height: 40px;
  display: flex;
}

#u84 .text {
  position: absolute;
  align-self: center;
  padding: 2px 2px 2px 2px;
  box-sizing: border-box;
  width: 100%;
}

#u84_text {
  border-width: 0px;
  word-wrap: break-word;
  text-transform: none;
}

#base {
  position: absolute;
  z-index: 0;
}

#header {
  border-width: 0px;
  position: absolute;
  left: 579px;
  top: 3px;
  width: 261px;
  height: 37px;
  display: flex;
  font-family: "Arial Fett", "Arial Standard", "Arial", sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 28px;
  
}

#create {
  border-width: 0px;
  position: absolute;
  left: 769px;
  top: 659px;
  width: 140px;
  height: 400px;
  display: flex;
}

#create .text {
  position: absolute;
  align-self: center;
  padding: 2px 2px 2px 2px;
  box-sizing: border-box;
  width: 100%;
}

#back {
  border-width: 0px;
  position: absolute;
  left: 479px;
  top: 840px;
  width: 140px;
  height: 40px;
  display: flex;
}

#back_div{
  border-width: 0px;
  position: absolute;
  left: 0px;
  top: 0px;
  width: 140px;
  height: 40px;
  background: inherit;
  background-color: rgba(255, 255, 255, 1);
  box-sizing: border-box;
  border-width: 1px;
  border-style: solid;
  border-color: rgba(121, 121, 121, 1);
  border-radius: 5px;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}

#back_text{
  border-width: 0px;
  word-wrap: break-word;
  text-transform: none;
}

#back .text {
  position: absolute;
  align-self: center;
  padding: 2px 2px 2px 2px;
  box-sizing: border-box;
  width: 100%;
}

#date_input {
  position: absolute;
  left:120px;
  top: -10px;
  width: 300px;
  height: 25px;
  padding: 2px 2px 2px 2px;
  font-family: "Arial Standard", "Arial", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 13px;
  letter-spacing: normal;
  color: #000000;
  vertical-align: none;
  text-align: left;
  text-transform: none;
  background-color: transparent;
  border-color: transparent;
}

#date_div {
  border-width: 0px;
  position: absolute;
  left: 0px;
  top: 0px;
  width: 300px;
  height: 25px;
  background: inherit;
  background-color: rgba(255, 255, 255, 1);
  box-sizing: border-box;
  border-width: 1px;
  border-style: solid;
  border-color: rgba(121, 121, 121, 1);
  border-radius: 0px;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}

#date {
  border-width: 0px;
  position: absolute;
  left: 543px;
  top: 103px;
  width: 300px;
  height: 25px;
  display: flex;
}